// cssReset
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
	padding: 0; 
	margin: 0; 
} 
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
} 
fieldset,img { 
	border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
	font-weight: normal; 
	font-style: normal; 
} 
ol,ul { 
	list-style: none; 
} 
caption,th { 
	text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
	font-weight: normal; 
	font-size: 100%; 
} 
q:before,q:after { 
	content:”; 
} 
abbr,acronym { 
	border: 0; 
}

// base class
@YaHei: "Microsoft YaHei";
@btnColor: #478ade;
@orange: #fea915;
@green: #9ad46f;

body{background-color: #f0f2f5;}
a{
	text-decoration: none;
}
.detect-success{
	background-image: url('../img/detect-success.png') !important;
}
.pos-r{
	position: relative !important;
}
.w100{
	width: 100% !important;
}
.w47per{
	width: 47% !important;
}
.w830{
	width: 830px;
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	display: block;
	content: " ";
	height:0;
	visibility: hidden;
	clear:both;
	font-size: 0;
}
.clearfix{zoom:1}
.none-bg-img{
	background-image: none !important;
}
.noFixed{
	position: relative !important;
}
.mt0{
	margin-top: 0 !important;
}
.hide{
	display:none !important;
	visibility: hidden;
}
.button{
	border: none;
	border-radius: 5px;		
	font-family: @YaHei;
	color: #fff;
	background-color: #5d9cec;
	box-shadow: 0 3px 0 #478ade;
	&:hover{
		cursor: pointer;
		background-color:#5d9cec;	
	}
}
.accountOrigin{
	background-image: url("../img/accountOrigin.png") ! important;
}
.nofuond{
	background-image: url("../img/404.png");
    height: 190px;
    line-height: 190px;
    margin: 0 auto;
    text-align: center;
    width: 190px;
}
.header{
	background-color: #fff;
	height: 80px; 
	box-shadow: 0 0 3px #858585;
	a{
		font-family: @YaHei;
		color: #858585;
		text-decoration: none;
		font-size: 14px;
	}
	li{
		float: left;
		margin-left: 32px;
		line-height: 80px;
	}
	.logo{
		margin-top: 10px;
	}
	.diver{
		position: relative;
		top: 30px;
		width: 1px;
		height: 20px;
		background-color: #858585;
	}
}
.container{
	margin: 75px auto 0;
	width: 830px;
}

.title{
	background-color: @orange;
	font-family: @YaHei;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	li{
		float: left;
		display: inline;
		a{
			float: left;
			width: 204px;
			height: 93px;
			color:#fff;
			text-decoration: none;
		}
	}
	h1{
		font-family: @YaHei;
		margin-top: 21px;
		margin-bottom: 4px;
		text-align: center;
		font-size:18px;
		text-shadow: #cc8711 1px 1px 0;
	}
	h2{
		font-family: @YaHei;
		text-align: center;
		font-size: 12px;
	}
	.active{
		background-color: #f39814;	
		background-image: url('../img/upArrow.png');
		background-repeat: no-repeat;
		background-position: bottom center;	
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
}
.content{
		position: relative;
		padding-top: 56px;
		margin-bottom: 30px;
		background-color: #fff;	
		height: 368px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		.leftPanel{
			float: left;
			width: 49%;
			text-align: center;
			border-right: 2px solid #ededed;			
		}
		.rightPanel{
			float: right;				
			width: 50%;
			img{
				margin: 0 auto;
				display: block;
			}
			.threeGNet{
				margin-top: -30px;
				margin-left: 56px;
				color: @green;					
				li{
					margin: 20px auto;
					line-height: 35px;
				}
				span{
					float: left;
					display: inline;
					margin-right: 25px;
					width: 35px;
					height: 35px;
					background-image: url('../img/correct.png');
				}
				div{
						margin-left: 60px;
						width: 220px;
						border-radius: 5px;
					h1{
						font-family: @YaHei;
						padding-left: 10px;
						font-size: 16px;
						font-weight: bold;
					}
					p{
						display: none;
						padding:0 10px 10px 10px;
						font-size: 12px;
						color: #ff7320;
						font-family: @YaHei;	
						line-height: 1.2em;
						border-radius: 5px;
					}
				}
				.danger{
					span{
						background-image: url('../img/incorrect.png');
					}
					div{
						border: 1px solid #ffc498;
						background-color: #fde8da;
						h1{
							color:#ff7320;
						}
						p{
							display: block;
						}
					}
				}
			}
		}
	.bottomButton{
		.button;
		position: absolute;
		left:38%;
		bottom: 40px;
		width: 180px;
		height: 38px;
		line-height: 38px;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
	}
}
// index.html
.ppoe{
	label{
		display: block;
		span{
			margin-right: 10px;
			font-family: @YaHei;
			color: #858585;
			font-size: 16px;
		}
		input{
			font-family: @YaHei;
			padding-left: 10px;
			width: 207px;
			height: 33px;
			line-height: 33px;
			color: #858585;
			font-size: 16px;
			border-radius: 5px;
			border: 1px solid #ccc;
			&:hover{
				border: 1px solid #5d9cec;
			}
		}
	}
	label+label{
		margin: 18px auto;
	}
	.leftPanel{
			.wait{
				height: 162px;
				img{
					margin-top: 60px;
				}
			}
		}
	.danger{
		margin-left: 118px;
		padding: 7px;
		width: 203px;
		font-size: 12px;
		border-radius: 5px;
		border:2px solid #ff8b73;
		text-align: left;
		span{
			float: left;
			display: inline;
			margin-right: 10px;
			width: 24px;
			height: 25px;
			background-image: url('../img/linkFailed.png');
		}
		h1{
			font-family: @YaHei;
			color: #ff8b73;
		}
		h2{
			font-family: @YaHei;
			color:#a4a9ae;
		}
	}
	.relink{
		font-family: @YaHei;
		margin-top: 18px;
		margin-left: 50px;
		width: 127px;
		height: 38px;
		font-size: 14px;
		font-weight: bold;
		border:none;
	}
	.passwordOrigin{
		margin-left: 1em;
		font-size: 12px;
		color: #00adfe;
		text-decoration: none;
		font-family: @YaHei;
	}
}
//staticIp.html
.staticIP{
	form{
		label{
			display: block;
			margin-bottom: 10px;
			height: 33px;
			line-height: 33px;
			font-family: @YaHei;
			color:#858585;
			font-size: 18px;
			span{
				margin-right: 5px;
				float: left;
				width: 100px;
				text-align: right;
				font-size: 16px;
			}
			input{
				font-family: @YaHei;
				margin-left: 10px;
				padding-left: 10px;
				width: 191px;
				border: 1px solid #ccc;			
				border-radius: 5px;
				padding-right: 10px;
				height: 33px;
				font-size: 16px;
				color: #494949;
				&:hover{outline:0;  border: 1px solid #5d9cec;}
			}
		}
	}
	.rightPanel{
		position: relative;
		top: -20px;
		.wait{
			margin-top: 100px;
		}
	}
	.danger{
		margin-left: 114px;
		padding: 7px;
		width: 196px;
		font-size: 12px;
		border-radius: 5px;
		border:2px solid #ff8b73;
		span{
			float: left;
			display: inline;
			margin-right: 10px;
			width: 24px;
			height: 25px;
			background-image: url('../img/linkFailed.png');
		}
		h1{
			font-family: @YaHei;
			color: #ff8b73;
		}
		h2{
			font-family: @YaHei;
			color:#a4a9ae;
		}
	}
	.button{
		margin-left: 114px;
		margin-top: 18px;
		width: 127px;
		height: 38px;
		border: none;
		font-size: 14px;
		font-weight: bold;
	}
} 
// detectInterface.html
.detectInterface{
	.title{
		height: 93px;
		line-height: 93px;
		font-size: 20px;
		text-align: center;
	}
	.content{
		.img{
			margin: 0 auto;
			width: 190px;
			height: 190px;
			line-height: 190px;
			text-align: center;
			background-image: url('../img/detect.gif');
			background-repeat: no-repeat;
			background-position: center;
			img{
				margin-top: 70px;
			}
		}	
		.info{
			margin: 20px auto;
			width: 260px;
			text-align: center;
			font-size: 18px;
			font-family: @YaHei;
			color: #858585;
			h2{
				margin-top: 10px;
				font-size: 14px;
				color: #a4a9ae;
			}
		}
		.button{
			margin: 0 auto;
			display: block;
			width: 180px;
			font-size: 18px;
			height: 38px;
		}
	}
}
// reported.html
.reported{
	margin: 0 auto;
}
// PC style 
// PC端下需要隐藏移动端的节点
@media screen and (min-width: 768px){
	.m-refresh{
		.hide;
	}
	.m-header{
		.hide;
	}
	.m-footer{
		.hide;
	}
	.m-info{
		.hide;
	}
	.staticIP form input{
		&::-webkit-input-placeholder { color:transparent; }
		&::-moz-placeholder { color:transparent; } /* firefox 19+ */
		&:-ms-input-placeholder { color:transparent; } /* ie */
		input:-moz-placeholder { color:transparent; }
	}
}
// Mobile style
@media screen and (max-width: 768px){
	body{background-color: #fff;}
	.mobileBg{
		background-color: #f4f4f4 !important;
	}
	.pt0{
		padding-top: 0 !important;
	}
	.header{
		.hide;
	}
	.container{
		margin: 0 auto;
		width: 100%;
		.title{
			background-color: #fff;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			li{
				float: left;
				display: inline;
				width: 33.33%;
				background-color: #fff;
				a{
					width: 100%;
					height: 42px;
					text-align: center;
					h1{
						font-size: 13px;
						margin: 10px auto 0;
						color: #707070;
						text-shadow: none;
					}
					h2{
						display: none;
					}
				}	
			}
			.active{
				background-color: #fff;
				background-image: none;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				height: 40px;
				border-bottom: 2px solid #fea915;
				h1{
					color:#fea915;
				}
			}
		}
		.content{
			margin: 0 auto;
			padding-top: 10px;
			width: 98%;
			height: 500px;
			background-color: #fff;
		}
		.m-refresh{
			position:absolute;
			left: 20%;
			top: 0;
			width: 17px;
		}
		.ppoe{
			background-color: #f4f4f4;
			.rightPanel{
				.hide;
			}
			.leftPanel{
				float: none;
				width: 100%;
				border:none;
				label{

				}
				span{
					display: none;
				}
				input{
					font-family: @YaHei;
					padding-left: 40px;	
					width:85%; 
					height: 36px;
					line-height: 36px;
					background-repeat: no-repeat;
					background-position: 10px center;
					background-size: 12px 15px;
					font-size: 12px;
				}
				input[type='text']{
					background-image: url('../img/user.png');
				}
				input[type='password']{
					background-image: url('../img/password.png');
				}
			}
			.danger{
				margin: 0 auto;
				width: 90%;
				border: none;
				span{
					display: block;
					width: 15px; 
					height: 15px;
					background-size: cover;
				}
				h1{
					float: left;
					font-weight: bold;
				}
				h2{
					color: #ff8b73;
					font-weight: bold;
				}
			}
			.button{
				margin: 10px auto;
				width: 95%;
			}
			.passwordOrigin{
				float: right;
				margin-right: 22px;
			}
		}
		.staticIP{
			.leftPanel{
				.hide;
			}
			.rightPanel{
				padding-top: 10px;
				top: 0;
				float: none;
				width: 100%;
				margin: 0 auto;
				margin-bottom: 100px;
				background-color: #f4f4f4;
			}
			form{
				label{
					span{display: none;}
					input{
						padding-left: 40px;
						display: block;
						margin: 0 auto;
						width: 80%;
						text-align: left;
						font-family: @YaHei;
						background-repeat: no-repeat;
						background-size: 20px;
						background-position: 10px center;
					}
				}
			}
			.button{
				margin: 10px auto;
				width: 91%;
			}
			.IP_address{
				background-image: url('../img/ip.png');
			}
			.netmask,.defaultGateway{
				background-image: url('../img/gate.png');
			}
			.DNS{
				background-image: url('../img/dns.png');
			}
			.danger{
				text-align: left;
				margin: 0 auto;
				width: 90%;
				border: none;
				span{
					display: block;
					width: 15px; 
					height: 15px;
					background-size: cover;
				}
				h1{
					float: left;
					font-weight: bold;
				}
				h2{
					color: #ff8b73;
					font-weight: bold;
				}
			}
		}
		.content{
			.rightPanel{
				text-align: center;
				.threeGNet{
					margin-left: 0;
					span{
						margin-right: 10px;
					}
					div{
						width: 87%;
						margin-left: 40px;
					}
				}
			}
			.bottomButton{
				width: 88%;
			}
		}
		.three-g-Net{
			margin-bottom: 100px;
			br{
				display: none;
			}
			.leftPanel{
				.hide;
			}
			.rightPanel{
				float: none;
				width: 90%;
				margin: 0 auto;
			}
			.bottomButton{
				position: static;
				margin: 0 auto;
			}
		}
	}
	.detectInterface{
		margin-top: 60px;
		background-color: #fff;
		.title{
			display: none;
		}
		.reported{
			a{
				width: 50%;
				.button{
					width: 80%;
					font-size: 80%;
				}
			}
		}
	}
}
.m-header{
	width: 100%;	
	height: 46px;
	line-height: 44px;
	background-color: #fe9d26;
	color: #fff;
	font-family: @YaHei;
	font-size: 18px;
	text-align: center;
	border-bottom: 2px solid #e68e21;
	a{
		margin: 12px 0 0 10px;
		float: left;
		display: inline;
		width: 12px;
		height: 22px;
		background-image: url('../img/m-leftArrow.png');
		background-size: contain;
	}
}
.m-footer{
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	color: #aaa;
	font-family: @YaHei;
	.blue{
		color: @btnColor;
	}
}
.m-info{
	margin: 0 auto 20px;
	height: 175px;
	background-color: @btnColor;
	color: #fff;
	text-align: center;
	img{
		margin-top: 25px;
		height: 100px;
	}
	p{
		margin-top: 10px;
		font-family: @YaHei;
	}
}
