body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: ”;
}
abbr,
acronym {
  border: 0;
}
body {
  background-color: #f0f2f5;
}
a {
  text-decoration: none;
}
.detect-success {
  background-image: url('../img/detect-success.png') !important;
}
.pos-r {
  position: relative !important;
}
.w100 {
  width: 100% !important;
}
.w47per {
  width: 47% !important;
}
.w830 {
  width: 830px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  display: block;
  content: " ";
  height: 0;
  visibility: hidden;
  clear: both;
  font-size: 0;
}
.clearfix {
  zoom: 1;
}
.none-bg-img {
  background-image: none !important;
}
.noFixed {
  position: relative !important;
}
.mt0 {
  margin-top: 0 !important;
}
.hide {
  display: none !important;
  visibility: hidden;
}
.button {
  border: none;
  border-radius: 5px;
  font-family: "Microsoft YaHei";
  color: #fff;
  background-color: #5d9cec;
  box-shadow: 0 3px 0 #478ade;
}
.button:hover {
  cursor: pointer;
  background-color: #5d9cec;
}
.accountOrigin {
  background-image: url("../img/accountOrigin.png") ! important;
}
.nofuond {
  background-image: url("../img/404.png");
  height: 190px;
  line-height: 190px;
  margin: 0 auto;
  text-align: center;
  width: 190px;
}
.header {
  background-color: #fff;
  height: 80px;
  box-shadow: 0 0 3px #858585;
}
.header a {
  font-family: "Microsoft YaHei";
  color: #858585;
  text-decoration: none;
  font-size: 14px;
}
.header li {
  float: left;
  margin-left: 32px;
  line-height: 80px;
}
.header .logo {
  margin-top: 10px;
}
.header .diver {
  position: relative;
  top: 30px;
  width: 1px;
  height: 20px;
  background-color: #858585;
}
.container {
  margin: 75px auto 0;
  width: 830px;
}
.title {
  background-color: #fea915;
  font-family: "Microsoft YaHei";
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.title li {
  float: left;
  display: inline;
}
.title li a {
  float: left;
  width: 204px;
  height: 93px;
  color: #fff;
  text-decoration: none;
}
.title h1 {
  font-family: "Microsoft YaHei";
  margin-top: 21px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 18px;
  text-shadow: #cc8711 1px 1px 0;
}
.title h2 {
  font-family: "Microsoft YaHei";
  text-align: center;
  font-size: 12px;
}
.title .active {
  background-color: #f39814;
  background-image: url('../img/upArrow.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.content {
  position: relative;
  padding-top: 56px;
  margin-bottom: 30px;
  background-color: #fff;
  height: 368px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content .leftPanel {
  float: left;
  width: 49%;
  text-align: center;
  border-right: 2px solid #ededed;
}
.content .rightPanel {
  float: right;
  width: 50%;
}
.content .rightPanel img {
  margin: 0 auto;
  display: block;
}
.content .rightPanel .threeGNet {
  margin-top: -30px;
  margin-left: 56px;
  color: #9ad46f;
}
.content .rightPanel .threeGNet li {
  margin: 20px auto;
  line-height: 35px;
}
.content .rightPanel .threeGNet span {
  float: left;
  display: inline;
  margin-right: 25px;
  width: 35px;
  height: 35px;
  background-image: url('../img/correct.png');
}
.content .rightPanel .threeGNet div {
  margin-left: 60px;
  width: 220px;
  border-radius: 5px;
}
.content .rightPanel .threeGNet div h1 {
  font-family: "Microsoft YaHei";
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
.content .rightPanel .threeGNet div p {
  display: none;
  padding: 0 10px 10px 10px;
  font-size: 12px;
  color: #ff7320;
  font-family: "Microsoft YaHei";
  line-height: 1.2em;
  border-radius: 5px;
}
.content .rightPanel .threeGNet .danger span {
  background-image: url('../img/incorrect.png');
}
.content .rightPanel .threeGNet .danger div {
  border: 1px solid #ffc498;
  background-color: #fde8da;
}
.content .rightPanel .threeGNet .danger div h1 {
  color: #ff7320;
}
.content .rightPanel .threeGNet .danger div p {
  display: block;
}
.content .bottomButton {
  border: none;
  border-radius: 5px;
  font-family: "Microsoft YaHei";
  color: #fff;
  background-color: #5d9cec;
  box-shadow: 0 3px 0 #478ade;
  position: absolute;
  left: 38%;
  bottom: 40px;
  width: 180px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.content .bottomButton:hover {
  cursor: pointer;
  background-color: #5d9cec;
}
.ppoe label {
  display: block;
}
.ppoe label span {
  margin-right: 10px;
  font-family: "Microsoft YaHei";
  color: #858585;
  font-size: 16px;
}
.ppoe label input {
  font-family: "Microsoft YaHei";
  padding-left: 10px;
  width: 207px;
  height: 33px;
  line-height: 33px;
  color: #858585;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.ppoe label input:hover {
  border: 1px solid #5d9cec;
}
.ppoe label + label {
  margin: 18px auto;
}
.ppoe .leftPanel .wait {
  height: 162px;
}
.ppoe .leftPanel .wait img {
  margin-top: 60px;
}
.ppoe .danger {
  margin-left: 118px;
  padding: 7px;
  width: 203px;
  font-size: 12px;
  border-radius: 5px;
  border: 2px solid #ff8b73;
  text-align: left;
}
.ppoe .danger span {
  float: left;
  display: inline;
  margin-right: 10px;
  width: 24px;
  height: 25px;
  background-image: url('../img/linkFailed.png');
}
.ppoe .danger h1 {
  font-family: "Microsoft YaHei";
  color: #ff8b73;
}
.ppoe .danger h2 {
  font-family: "Microsoft YaHei";
  color: #a4a9ae;
}
.ppoe .relink {
  font-family: "Microsoft YaHei";
  margin-top: 18px;
  margin-left: 50px;
  width: 127px;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  border: none;
}
.ppoe .passwordOrigin {
  margin-left: 1em;
  font-size: 12px;
  color: #00adfe;
  text-decoration: none;
  font-family: "Microsoft YaHei";
}
.staticIP form label {
  display: block;
  margin-bottom: 10px;
  height: 33px;
  line-height: 33px;
  font-family: "Microsoft YaHei";
  color: #858585;
  font-size: 18px;
}
.staticIP form label span {
  margin-right: 5px;
  float: left;
  width: 100px;
  text-align: right;
  font-size: 16px;
}
.staticIP form label input {
  font-family: "Microsoft YaHei";
  margin-left: 10px;
  padding-left: 10px;
  width: 191px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 10px;
  height: 33px;
  font-size: 16px;
  color: #494949;
}
.staticIP form label input:hover {
  outline: 0;
  border: 1px solid #5d9cec;
}
.staticIP .rightPanel {
  position: relative;
  top: -20px;
}
.staticIP .rightPanel .wait {
  margin-top: 100px;
}
.staticIP .danger {
  margin-left: 114px;
  padding: 7px;
  width: 196px;
  font-size: 12px;
  border-radius: 5px;
  border: 2px solid #ff8b73;
}
.staticIP .danger span {
  float: left;
  display: inline;
  margin-right: 10px;
  width: 24px;
  height: 25px;
  background-image: url('../img/linkFailed.png');
}
.staticIP .danger h1 {
  font-family: "Microsoft YaHei";
  color: #ff8b73;
}
.staticIP .danger h2 {
  font-family: "Microsoft YaHei";
  color: #a4a9ae;
}
.staticIP .button {
  margin-left: 114px;
  margin-top: 18px;
  width: 127px;
  height: 38px;
  border: none;
  font-size: 14px;
  font-weight: bold;
}
.detectInterface .title {
  height: 93px;
  line-height: 93px;
  font-size: 20px;
  text-align: center;
}
.detectInterface .content .img {
  margin: 0 auto;
  width: 190px;
  height: 190px;
  line-height: 190px;
  text-align: center;
  background-image: url('../img/detect.gif');
  background-repeat: no-repeat;
  background-position: center;
}
.detectInterface .content .img img {
  margin-top: 70px;
}
.detectInterface .content .info {
  margin: 20px auto;
  width: 260px;
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  color: #858585;
}
.detectInterface .content .info h2 {
  margin-top: 10px;
  font-size: 14px;
  color: #a4a9ae;
}
.detectInterface .content .button {
  margin: 0 auto;
  display: block;
  width: 180px;
  font-size: 18px;
  height: 38px;
}
.reported {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .m-refresh {
    display: none !important;
    visibility: hidden;
  }
  .m-header {
    display: none !important;
    visibility: hidden;
  }
  .m-footer {
    display: none !important;
    visibility: hidden;
  }
  .m-info {
    display: none !important;
    visibility: hidden;
  }
  .staticIP form input {
    /* firefox 19+ */
    /* ie */
  }
  .staticIP form input::-webkit-input-placeholder {
    color: transparent;
  }
  .staticIP form input::-moz-placeholder {
    color: transparent;
  }
  .staticIP form input:-ms-input-placeholder {
    color: transparent;
  }
  .staticIP form input input:-moz-placeholder {
    color: transparent;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-color: #fff;
  }
  .mobileBg {
    background-color: #f4f4f4 !important;
  }
  .pt0 {
    padding-top: 0 !important;
  }
  .header {
    display: none !important;
    visibility: hidden;
  }
  .container {
    margin: 0 auto;
    width: 100%;
  }
  .container .title {
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .container .title li {
    float: left;
    display: inline;
    width: 33.33%;
    background-color: #fff;
  }
  .container .title li a {
    width: 100%;
    height: 42px;
    text-align: center;
  }
  .container .title li a h1 {
    font-size: 13px;
    margin: 10px auto 0;
    color: #707070;
    text-shadow: none;
  }
  .container .title li a h2 {
    display: none;
  }
  .container .title .active {
    background-color: #fff;
    background-image: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 40px;
    border-bottom: 2px solid #fea915;
  }
  .container .title .active h1 {
    color: #fea915;
  }
  .container .content {
    margin: 0 auto;
    padding-top: 10px;
    width: 98%;
    height: 500px;
    background-color: #fff;
  }
  .container .m-refresh {
    position: absolute;
    left: 20%;
    top: 0;
    width: 17px;
  }
  .container .ppoe {
    background-color: #f4f4f4;
  }
  .container .ppoe .rightPanel {
    display: none !important;
    visibility: hidden;
  }
  .container .ppoe .leftPanel {
    float: none;
    width: 100%;
    border: none;
  }
  .container .ppoe .leftPanel span {
    display: none;
  }
  .container .ppoe .leftPanel input {
    font-family: "Microsoft YaHei";
    padding-left: 40px;
    width: 85%;
    height: 36px;
    line-height: 36px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 12px 15px;
    font-size: 12px;
  }
  .container .ppoe .leftPanel input[type='text'] {
    background-image: url('../img/user.png');
  }
  .container .ppoe .leftPanel input[type='password'] {
    background-image: url('../img/password.png');
  }
  .container .ppoe .danger {
    margin: 0 auto;
    width: 90%;
    border: none;
  }
  .container .ppoe .danger span {
    display: block;
    width: 15px;
    height: 15px;
    background-size: cover;
  }
  .container .ppoe .danger h1 {
    float: left;
    font-weight: bold;
  }
  .container .ppoe .danger h2 {
    color: #ff8b73;
    font-weight: bold;
  }
  .container .ppoe .button {
    margin: 10px auto;
    width: 95%;
  }
  .container .ppoe .passwordOrigin {
    float: right;
    margin-right: 22px;
  }
  .container .staticIP .leftPanel {
    display: none !important;
    visibility: hidden;
  }
  .container .staticIP .rightPanel {
    padding-top: 10px;
    top: 0;
    float: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: #f4f4f4;
  }
  .container .staticIP form label span {
    display: none;
  }
  .container .staticIP form label input {
    padding-left: 40px;
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: left;
    font-family: "Microsoft YaHei";
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
  }
  .container .staticIP .button {
    margin: 10px auto;
    width: 91%;
  }
  .container .staticIP .IP_address {
    background-image: url('../img/ip.png');
  }
  .container .staticIP .netmask,
  .container .staticIP .defaultGateway {
    background-image: url('../img/gate.png');
  }
  .container .staticIP .DNS {
    background-image: url('../img/dns.png');
  }
  .container .staticIP .danger {
    text-align: left;
    margin: 0 auto;
    width: 90%;
    border: none;
  }
  .container .staticIP .danger span {
    display: block;
    width: 15px;
    height: 15px;
    background-size: cover;
  }
  .container .staticIP .danger h1 {
    float: left;
    font-weight: bold;
  }
  .container .staticIP .danger h2 {
    color: #ff8b73;
    font-weight: bold;
  }
  .container .content .rightPanel {
    text-align: center;
  }
  .container .content .rightPanel .threeGNet {
    margin-left: 0;
  }
  .container .content .rightPanel .threeGNet span {
    margin-right: 10px;
  }
  .container .content .rightPanel .threeGNet div {
    width: 87%;
    margin-left: 40px;
  }
  .container .content .bottomButton {
    width: 88%;
  }
  .container .three-g-Net {
    margin-bottom: 100px;
  }
  .container .three-g-Net br {
    display: none;
  }
  .container .three-g-Net .leftPanel {
    display: none !important;
    visibility: hidden;
  }
  .container .three-g-Net .rightPanel {
    float: none;
    width: 90%;
    margin: 0 auto;
  }
  .container .three-g-Net .bottomButton {
    position: static;
    margin: 0 auto;
  }
  .detectInterface {
    margin-top: 60px;
    background-color: #fff;
  }
  .detectInterface .title {
    display: none;
  }
  .detectInterface .reported a {
    width: 50%;
  }
  .detectInterface .reported a .button {
    width: 80%;
    font-size: 80%;
  }
}
.m-header {
  width: 100%;
  height: 46px;
  line-height: 44px;
  background-color: #fe9d26;
  color: #fff;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid #e68e21;
}
.m-header a {
  margin: 12px 0 0 10px;
  float: left;
  display: inline;
  width: 12px;
  height: 22px;
  background-image: url('../img/m-leftArrow.png');
  background-size: contain;
}
.m-footer {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  color: #aaa;
  font-family: "Microsoft YaHei";
}
.m-footer .blue {
  color: #478ade;
}
.m-info {
  margin: 0 auto 20px;
  height: 175px;
  background-color: #478ade;
  color: #fff;
  text-align: center;
}
.m-info img {
  margin-top: 25px;
  height: 100px;
}
.m-info p {
  margin-top: 10px;
  font-family: "Microsoft YaHei";
}
